{% extends "skeleton/_body.html" %}

{% block content_body %}

<div id="post-content">
	{% filter typogrify %}
	{% markdown %}

	{% block article %}
	{% endblock %}
		
	{% endmarkdown %}
	{% endfilter %}
</div>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'distractable';

// The following are highly recommended additional parameters. Remove the slashes in front to use.
// var disqus_identifier = 'unique_dynamic_id_1234';
var disqus_url = 'http://distractable.net{{ page.url }}/';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>	
</div>

{% endblock %}

{% block content_header %}
<h1>{{ page.title }}</h1>
<div class="post-bar">
	<span class="post-date">{{ page.created|date:"D d M Y"}}</span>
	<a 	href="http://twitter.com/share" 
		class="twitter-share-button" 
		data-count="horizontal" 
		data-url="http://distractable.net{{ page.url }}" 
		data-via="DamonOehlman">Tweet</a>
</div>
{% endblock %}

{% block context_nav %}
{% include "skeleton/_context_nav.html" %}
{% endblock %}